@charset "utf-8";

/* ------------------ 공통사항 --------------------*/
body {
  padding-top: 3.5rem;
  background-color: #fff !important;
  padding: 0;
  font-family: 'NotoSans', '돋움', dotum, sans-serif;
  font-size: 16px;
  line-height: 1.3rem;
  color: #222;
  letter-spacing: -.5px
}

a {
  color: #6698e8;
}

code {
  background: transparent
}

#rb-body.lang-en {
  font-family: 'NotoSans', Helvetica, Arial, 'Liberation Sans', sans-serif;
}

.btn {
  border-radius: 0px;
  font-size: 14px;
}

#rb-admin-page-content {
  padding-top: 3.34rem
}

.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  background-color: #fff
}


#rb-bookmark-dropdown1 {
  position: absolute;
  top: 34px;
  left: -24px;
  background: #fff;
  border: #cccccc solid 1px;
  border-radius: 3px;
}

#rb-bookmark-dropdown2 {
  position: absolute;
  top: 34px;
  left: -71px;
  background: #fff;
  border: #cccccc solid 1px;
  border-radius: 3px;
}

/* ------------------ navbar --------------------*/


/* ------------------ tabs --------------------*/
.navbar {
  font-family: 'NotoSans', sans-serif, '돋움', dotum, sans-serif;
}

.navbar .navbar-nav {
  border-bottom: 0
}

.navbar .navbar-nav .nav-item {
  /*margin-right: 20px;*/
  margin-bottom: 0;
}

.navbar .navbar-nav li a.nav-link {
  position: relative;
  color: rgba(0, 0, 0, .5) !important;
  font-size: 15px
}

.navbar-nav>li a.nav-link.active::before,
.navbar-nav>li a.nav-link.active:focus::before,
.navbar-nav>li a.nav-link.active:hover::before {
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -9px;
  content: '';
  background-color: #007bff;
  color: rgba(0, 0, 0, .9);
  ;
  font-weight: 400;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 3.4rem;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid rgba(0, 0, 0, .1);
  background-color: #fff;
}

.sidebar.sidebar-right {
  left: auto;
  right: 0;
  border-right: none;
  border-left: 1px solid rgba(0, 0, 0, .1);
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item+.nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

.sidebar .card {
  margin-bottom: 0;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  box-shadow: none
}

.sidebar .card~.card {
  margin-top: -1px
}

.sidebar .card-body {
  background-color: #fff
}

.sidebar .list-group-item.active {
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgb(0, 123, 255) !important;
  border-image: initial !important;
}

.sidebar .list-group-item.active .badge-dark {
  color: #eee;
}

.breadcrumb {
  background-color: transparent;
}



/* ------------------ button --------------------*/

/*본문*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'NotoSans', sans-serif, '돋움', dotum, sans-serif;
  margin: 0 0 20px;
  font-weight: 300;
}

.h2,
h2 {
  font-size: 30px;
}

.h3,
h3 {
  font-size: 26px;
}

.h4,
h4 {
  font-size: 22px;
}

.page-body-header {
  background-color: #fff
}

.page-header {
  padding-top: 20px;
  padding-bottom: 9px;
  margin: 0 0px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.page-header h1,
.page-header h2,
.page-header h3,
.page-headerh4,
.page-header h5,
.page-header h6 {
  margin: 0;
}

.subnav-item {
  position: relative;
  float: left;
  padding: 6px 14px;
  font-weight: 600;
  line-height: 20px;
  color: #586069;
  border: 1px solid #e1e4e8;
}

.subnav-item+.subnav-item {
  margin-left: -1px;
}

.subnav-item:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.subnav-item:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* ------------------ icon panel --------------------*/

/*color*/

.text-gray {
  color: #586069 !important;
}

.text-gray-light {
  color: #959da5 !important;
}

.text-gray-dark {
  color: #24292e !important;
}

.link-gray {
  color: #586069 !important;
}

.link-gray-dark {
  color: #24292e !important;
}

.link-gray-dark:hover {
  color: #0366d6 !important;
}

.border-top {
  border-top: 1px #e1e4e8 solid !important;
}

.border-gray-light {
  border-color: #eaecef !important;
}

/*form*/

.col-form-label-lg {
  font-size: 1rem;
}

.form-control[readonly] {
  color: #999;
}

.form-control-plaintext {
  color: #999;
}

.input-group-addon {
  background-color: #343b43;
  color: #999;
  border: 1px solid #222;
}

.input-group-text {
  background-color: #fff
}

/* tab */
.nav-tabs {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.nav-tabs .nav-link {
  border-radius: 0;
}

.nav-tabs .nav-link:hover {}

.nav-tabs .nav-link.active {}

.nav-tabs .nav-link.active:first-child {}



/* ------------------ table --------------------*/
.table {}

.table thead th {
  border-bottom: none;
  padding: .75rem;
  line-height: 1;
  font-weight: normal;
}

.table thead th,
.table tbody td {
  white-space: nowrap !important;
  vertical-align: middle;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid #222;
}

.table-active,
.table-active>td,
.table-active>th {
  background-color: #007bff;
}

.table tbody .table-active td .badge-dark,
.table tbody .table-active td a {
  color: #fff;
}

#rb-body .card .card-header.rb-icon .icon {
  float: left;
  border-right: 1px solid #c9c9c9;
  width: 41px;
  height: 100%;
  box-shadow: none;
  position: absolute;
  top: 0;
  left: 1px;
  text-align: center;
}


/*comment*/
.form-control,
.input-group-lg>.form-control {
  border-radius: 0
}

.border-default {
  border-color: #222
}

.btn.btn-block {
  border-radius: 4rem
}



/* ------------------ 즐겨찾기 --------------------*/





/* ------------------ 토글 레이어 --------------------*/
#bs-example-navbar-collapse-1 .rb-toggle-layer {
  padding: 0;
  text-shadow: none;
}

#bs-example-navbar-collapse-1 .rb-toggle-layer .panel {
  margin: 0;
  border: none;
  padding: 0;
}

#bs-example-navbar-collapse-1 .rb-toggle-layer .panel-title {
  line-height: 30px;
  font-weight: bold;
  font-size: 14px
}

#bs-example-navbar-collapse-1 .rb-toggle-layer .list-group {
  max-height: 450px;
  max-height: calc(100vh - 300px);
  max-height: -moz-calc(100vh - 300px);
  max-height: -webkit-calc(100vh - 300px);
  overflow: auto;
}

#bs-example-navbar-collapse-1 .rb-toggle-layer .panel-footer a {
  display: block;
  text-align: center;
  font-weight: normal;
  color: #777
}

.rb-box {
  position: relative;
  background-color: #444;
  border-radius: 6px;
  text-align: center;
  padding: 8px;
  margin: 4px;
  width: 70px;
  height: 65px;
  overflow: hidden;
  box-shadow: 0 1px 2px #222 !important;
}


/* ------------------ 풀사이즈 편집 --------------------*/
.rb-fullsize {
  position: fixed;
  z-index: 1000000;
  top: -35px;
  left: 0;
  right: 0;
  bottom: 0 width: 100%;
  height: 100%;
}

.rb-fullsize textarea {
  position: fixed;
  top: 47px;
  left: 3px;
  width: 99.5%;
  height: 100%;
}

.rb-fullsize .rb-submit button {
  position: fixed;
  bottom: 5px;
  width: 99%;
  height: 40px;
  font-weight: bold;
  font-size: 18px;
  margin: 0 5px 0 5px;
}



/* CodeMirror */
.CodeMirror .CodeMirror-scroll {
  line-height: 1.5 !important;
  font-size: 12px
}

/* ------------------ footer --------------------*/
.rb-admin-footer {
  padding-top: 40px;
  padding-bottom: 0;
  margin-top: 0;
  color: #777;
  text-align: center;
}


/* ------------------ modal close --------------------*/
.rb-close-white {
  color: #fff;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 1;
  filter: alpha(opacity=100);
  line-height: 30px;
}

/* ------------------ 모바일 디바이스 접속 --------------------*/
#rb-body.rb-device-connect {
  overflow-x: hidden;
}

#rb-body.rb-device-connect .rb-navbar-nav {
  margin-top: 36px;
}

#rb-body.rb-device-connect .mobile-tabs li {
  width: 33.3333%;
}

/* ------------------ 기타 --------------------*/
#rb-body .rb-modal-dashboard {
  font-size: 18px;
  cursor: pointer;
  position: relative;
  top: 8px;
}

#rb-body.rb-device-connect .rb-modal-dashboard {
  font-size: 14px;
  top: 0;
}

#rb-body.rb-device-connect .rb-modal-dashboard i {
  font-size: 17px;
}

/* ------------------ 미디어쿼리 --------------------*/
@media (min-width: 768px) {
  #bs-example-navbar-collapse-1 .rb-notifications-layer {
    width: 260px;
  }
}

@media (max-width: 767px) {
  #rb-body select.form-control {
    margin-bottom: 5px;
  }

  #rb-body .input-group select.form-control {
    margin-bottom: 0;
  }
}

@media (min-width:992px) {
  #rb-body .rb-navbar-nav>li:first-child>a {
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    border-radius: 4px 0 0 0;
  }

  #rb-body .rb-navbar-nav>li:last-child>a {
    -webkit-border-radius: 1px 4px 0 0;
    -moz-border-radius: 1px 4px 0 0;
    border-radius: 1px 4px 0 0;
  }

  #rb-body .tab-content {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
  }
}

@media (max-width: 991px) {

  #rb-body .rb-navbar-nav.rb-item-03 li {
    width: 33.3%;
  }

  #rb-body .rb-navbar-nav.rb-item-04 li {
    width: 25%;
  }
}


/*테마*/
/*content*/

/*table*/



/*component*/

/* modal */

.modal .modal-header {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.modal .modal-header .close {
  opacity: 1;
}

.modal .modal-body iframe body {
  background-color: #fff
}

.modal-content {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 0
}

.modal-footer {
  border-top: 1px solid rgba(0, 0, 0, .1);
}

/*list-group*/


/*badge*/
.badge-dark {
  color: #586069;
  background-color: rgba(27, 31, 35, .08);
  font-weight: 300
}

/*button*/
.btn {
  position: relative;
  display: inline-block;
  /* padding: 6px 12px; */
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border-radius: 0.25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /*font-family: Dotum,'돋움',sans-serif*/
  font-family: 'Apple SD Gothic Neo', Dotum, '돋움', sans-serif;
}

.btn:focus {
  outline: 0;
}

.btn-light:focus,
.btn-light.focus {
  box-shadow: 0 0 0 0.2em rgba(3, 102, 214, 0.3);
}

[data-toggle="buttons"].btn-group .btn-light {
  color: #999;
  font-weight: normal;
}

[data-toggle="buttons"].btn-group .btn-light.active {
  color: #fff !important;
  background-color: #0366d6 !important;
  border-color: #0366d6;
}

.btn-sm {
  padding: 3px 10px;
  font-size: 12px;
  line-height: 20px;
}


.btn,
[role="button"] {
  cursor: pointer !important;
}

.btn-light {
  color: #24292e;
  user-select: none;
  background-color: #fff;
  border: 1px solid rgba(27, 31, 35, 0.2);
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 0
}

.btn-light:hover,
.btn-light.hover {
  background-color: #e6ebf1;
  background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
  background-position: -.5em;
  border-color: rgba(27, 31, 35, 0.35);
}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle {
  background-color: #e9ecef;
  background-image: none;
  border-color: rgba(27, 31, 35, 0.35);
  box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15);
}

.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus,
.show>.btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2em rgba(3, 102, 214, 0.3);
}


.btn-danger {
  color: #cb2431;
  border: 1px solid rgba(27, 31, 35, 0.2);
  background-color: #fafbfc;
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
}

.btn-danger:hover {
  color: #fff;
  background-color: #cb2431;
  background-image: linear-gradient(-180deg, #de4450 0%, #cb2431 90%);
  border-color: rgba(27, 31, 35, 0.5);
}

.btn-danger:active,
.btn-danger.active {
  color: #fff;
  background-color: #b5202c;
  background-image: none;
  border-color: rgba(27, 31, 35, 0.5);
  box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15);
}

.btn-danger:disabled,
.btn-danger.disabled {
  color: rgba(203, 36, 49, 0.4);
  background-color: #eff3f6;
  background-image: none;
  border-color: rgba(27, 31, 35, 0.2);
  box-shadow: none;
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: #555;
  background-color: transparent;
  border-color: #555;
}

/* Pagination */


/*tooltip*/
.tooltip-inner {
  background-color: #0366d6;
}

.tooltip.bs-tooltip-top .arrow::before,
.tooltip.bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-top-color: #0366d6
}

/* input-group */

/*form*/

.form-group label {
  font-size: 13px;
  font-weight: 300;
  color: #6c757d
}

.col-form-label {
  color: #444
}

.custom-checkbox,
.custom-radio {
  /* line-height: 1.85rem; */
}

/*badge*/


/*card*/

.card-header.p-0 a.d-block {
  padding: .75rem 1.25rem
}

.card-header.p-0 a.d-block::before {
  display: inline-block;
  margin-left: 1rem;
  margin-right: -.45rem;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  content: "\f0d7";
}

.card-header.p-0 a.d-block.collapsed::before {
  content: "\f0da";
}

.card-header.bg-primary {
  border-bottom: 0;
  border-radius: 0;
}

.card-header,
.card-footer {
  background-color: #fff
}

.card>.list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/*유틸리티*/
.bg-dark {
  background-color: #fff !important;
}

.border {
  border: 1px solid #222;
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, .1) !important;
}

.border-left {
  border-left: 1px solid rgba(0, 0, 0, .1) !important;
}


/*tree*/
.sidebar .rb-tree {
  font-family: 'NotoSans','돋움', dotum, sans-serif, FontAwesome;
}

.sidebar .rb-tree li:before {
  border-left: 1px solid rgba(0, 0, 0, .2) !important;
}

.sidebar .rb-tree li:after {
  border-top: 1px solid rgba(0, 0, 0, .2) !important;
}

.sidebar .rb-tree .rb-active {
  color: rgb(0, 123, 255);
}

.sidebar .rb-tree a {}

.sidebar .rb-tree a u {
  text-decoration: none;
}


/*기본 모듈개별*/
#catebody .dd-item .dd-handle {
  background-color: rgba(0, 0, 0, .03);
}

/*datepicker 스타일 초기화*/
.input-daterange .input-group-addon {
  width: auto !important;
  min-width: auto !important;
  font-weight: normal !important;
  background-color: #fff;
  text-align: center !important;
  text-shadow: none !important;
  vertical-align: middle !important;
  border: solid transparent !important;
  border-width: 1px 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* readme */
.rb-docs {
  background-color: #272c32
}

/* markdown-body */
.markdown-body .form-control,
.markdown-body {
  font-size: 14px !important;
}
