### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

.ftpconfig
_var/db.info.php
_var/install.txt
_var/php.version.txt
_var/project.key.txt
_var/table.info.php
_var/site/*
_var/bbs/*
_var/update/*
modules/shop/*
_tmp/widget/*
layouts/rc-youtube/*
modules/comment/action/a.oneline_regis.php
modules/comment/action/a.comment_regis.php
modules/member/admin/point_ori.php
modules/member/admin/point_ori.php
