#layout-code {
	padding: 15px 5px 15px 5px
}

#layout-code .tab-content {
	border: none;
	padding: 0;
	margin-top: 15px
}

#layout-code .rb-files {
	padding: 3px;
	background: #eee;
	border-radius: 3px;
	margin-top: 20px;
}

#layout-code .rb-codeview {
	border-radius: 3px;
	border: 1px solid #c9c9c9;
	-webkit-box-shadow: inset 1px 1px 0px 0px rgba(222, 2222, 222, 0.1), 1px 1px 0px 0px rgba(255, 255, 255, 1);
	box-shadow: inset 1px 1px 0px 0px rgba(222, 222, 222, 0.1), 1px 1px 0px 0px rgba(255, 255, 255, 1);
}

#layout-code .rb-codeview-header,
#layout-code .rb-codeview-footer {
	font: 12px "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
	text-shadow: 1px 1px rgba(255,255,255,0.8);
	overflow: hidden;
	color: #999;
}

#layout-code .rb-codeview-header .breadcrumb {
	background-color: transparent;
	margin-bottom: 0;
	padding: 0;
	line-height: 30px
}

#layout-code .rb-codeview-header .btn {
	line-height: 20px;
	margin-top: 4px;
	border-radius: 3px
}

#layout-code .rb-codeview-header {
	border-bottom: 1px solid #ddd;
	padding: 5px 10px;
	text-shadow: 0 1px 0 #fff;
	border-bottom: 1px solid #d8d8d8;
	background-color: #eaeaea;
	background-image: -moz-linear-gradient(#fafafa, #eaeaea);
	background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
	background-image: linear-gradient(#fafafa, #eaeaea);
	background-repeat: repeat-x;
}

.rb-codeview-body {
	font-family: Consolas, "Liberation Mono", Courier, monospace;
}

.rb-codeview-body textarea {
	overflow: auto;
	border: none;
	padding: 15px;
	line-height: 150%;
	background: #000000;
	color: #ffffff;
	font-size: 12px;
	border-radius: 0
}

#layout-code .rb-codeview-footer {
	border-top: 1px solid #ddd;
	padding: 10px;
	background-color: #e8e8e8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e8e8e8));
	background-image: -webkit-linear-gradient(#fafafa, #e8e8e8);
	background-image: linear-gradient(#fafafa, #e8e8e8);
	background-repeat: repeat-x;
}

#layout-code .rb-codeview-footer ul {
	margin-bottom: 0
}

#layout-code .rb-codeview-footer li:first-child,
#layout-code .rb-codeview-footer li:last-child {
	border-left: 0;
	box-shadow: inset 0 0 0 transparent;
	padding-left: 0;
	margin-left: 0;
}

#layout-code .rb-codeview-footer li {
	display: inline-block;
	color: #555555;
	padding-left: 9px;
	margin-left: 5px;
	border-left: 1px solid #c1c1c1;
	box-shadow: inset 1px 0 0 #fff;
	font-size: 12px;
}

#layout-code .rb-submit {
	margin: 15px 0
}

#rb-body.rb-device-connect .row .panel-default {
	margin-right: -14px;
	margin-left: -14px;
}

.rb-top-btnbox {
	position: relative;
	top:-10px;
}

.input-group,
.input-group .form-control,
.input-group>.input-group-prepend>.input-group-text {
  border-radius: 0;
}






@media (max-width: 767px) {
	#layout-code .rb-nav-tabs {
		border: #dfdfdf solid 10px;
	}
	#layout-code .rb-nav-tabs li {
		width: 33.333%;
	}
	#layout-code .rb-nav-tabs li:last-child {
		width: 100%;
	}
}

.CodeMirror-fullscreen {
	z-index: 99999 !important
}
