.nav-tabs .nav-item>.nav-link {
  border-radius: 0
}

.nav-tabs .nav-item>.nav-link.active {
  border-color: #fff #dee2e6 #fff #dee2e6;
}

.nav-tabs .nav-item:first-child>.nav-link.active {
  border-color: #fff #dee2e6 #fff #fff;
}

/*rb-box */

.rb-box {
  position: relative;
  background-color: #444;
  border-radius: 6px;
  text-align: center;
  padding: 8px;
  margin: 4px;
  width: 70px;
  height: 65px;
  overflow: hidden;
  box-shadow: 0 1px 2px #eee;
}

.rb-box {
  color: #fff
}

.rb-box i {
  font-style: normal;
}

.rb-box .rb-icon {
  font-size: 34px;
  text-shadow: 1px 1px 1px #222;
}

.rb-box .rb-name {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  bottom: 4px;
  left: 5px;
  right: 5px;
  top: auto;
  text-align: center;
  color: #eee;
  text-shadow: 1px 1px 1px #222;
  font-size: 11px;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}
