
.table-sm td, .table-sm th {
  padding: .4rem;
	font-size: 12px;
	font-weight: normal;
}

#uplist .table th,
#uplist .table td {
	text-align: center;
}

#uplist .table th.rb-left,
#uplist .table td.rb-left {
	text-align: left;
}

#uplist .rb-none {
	text-align: center;
	color: #999
}

#uplist .row  {
	margin-right: -5px;
	margin-left: -5px;
}
#uplist .row  [class*="col-"] {
	padding-right: 5px !important;
	padding-left: 5px !important;
}

@media (max-width: 767px) {
	#uplist .row  [class*="col-"] {
		margin-bottom: 10px
	}

}

#uplist .pagination {
	margin: 0
}

#uplist .rb-heading .btn {
	font-size: 12px;
}

#uplist .rb-heading {
	margin-bottom: 20px
}

#uplist .rb-heading > .form-group:last-child {
	margin-bottom: 0
}


#uplist .rb-heading .rb-advance.btn.collapsed small:before {
content: "▼";
}

#uplist .rb-heading .rb-advance.btn small:before {
content: "▲";
}

#uplist .rb-footer {
	border-top: 1px solid #eee;
	margin: 20px 0;
	padding: 20px 0
}

@media (max-width: 479px) {

	#uplist .rb-footer div {
		float: none !important
	}

}


@media (min-width: 768px) {

	#uplist .rb-year,
	#uplist .rb-month,
	#uplist .rb-day {
		display: block;
	}
}

@media (min-width: 768px) {

	#uplist .rb-year {
		float: left;
		width: 100px;
		margin-right: 5px
	}

	#uplist .rb-month {
		float: left;
		width: 80px;
		margin-right: 5px
	}

	#uplist .rb-day {
		float: left;
		width: 100px;
		margin-right: 5px
	}
}

.datepicker {z-index: 1151 !important;}
