.collapsed .fa-caret-up:before {
  content: "\f0d7";
}
.collapsed .fa {
  transition: all 0.4s ease;
}

button[data-toggle="popover"],
button[data-toggle="collapse"] {
  background-image: none;
  background-color: #fff;
  outline: none;
  border: none
}

button[data-toggle="collapse"]:active {
  background-color: #eee
}

.table-view-inverse .table-view-cell {
  background-color: #111;
  border-bottom: none
}
.table-view-inverse .table-view-active {
  background-color: #373a3c;
}
