#notification .table th,
#notification .table td {
	text-align: center;
}

#notification .table th.rb-message,
#notification .table td.rb-message {
	text-align: left;
	width: 50%;
}

#notification .rb-none {
	text-align: center;
	color: #999
}


#notification .pagination {
	margin: 0
}

#notification .rb-heading {
	margin-bottom: 20px
}

#notification .rb-heading > .form-group:last-child {
	margin-bottom: 0
}


#notification .rb-heading .rb-advance.btn.collapsed small:before {
content: "▼";
}

#notification .rb-heading .rb-advance.btn small:before {
content: "▲";
}

#notification .rb-footer {
	border-top: 1px solid #eee;
	margin: 20px 0;
	padding: 20px 0
}

@media (max-width: 480px) {

	#notification .rb-footer div {
		float: none !important
	}
}
