#rb-body .tab-content .form-group.tab-content {
	border: 0;
	padding: 0 15px;
}

#rb-body .tab-content .form-group {
    margin-bottom: 15px;
}

.help-text {
    margin-top: 5px
}

.dataTables_wrapper a{
	color: #666
}

#module-list_wrapper > .panel-body {
	min-height: 403px;
	padding: 0 !important
}

#module-list_wrapper .dataTable {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	max-width: none !important;
}

#module-list_wrapper .dataTables_paginate {
	margin-top: 0 !important;
}

#module-list_wrapper .dataTables_empty {
	text-align: center;
	color: #999;
	line-height: 100px
}

#module-list_wrapper .dataTables_filter label {
	font-weight: normal;
	float: none;
}

#module-list_wrapper .dataTables_length label {
	font-weight: normal;
	float: none;
	text-align: left;
}

#module-list_wrapper .dataTables_paginate {
	float: none;
	margin-top: 15px
}

#module-list_wrapper .rb-time {
	text-align: center;
}

#module-list_wrapper td.rb-time {
	color: #999;
}

#module-list_wrapper td.rb-time time {
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}

#module-list_wrapper .active td.rb-time {
	color: #eee
}

#module-list_wrapper td a {
	display: block;
}
#module-list_wrapper td a:hover {
	text-decoration: none;
}

#module-list_wrapper .table thead tr {
	background-image: none;
	background-color: inherit;
}

#module-list_wrapper .table > thead > tr > th {
	border-bottom: 1px solid #ddd;
	font-size: 12px;
}

@media (max-width: 479px) {
	#module-list .rb-id,
	#module-list .rb-time {
		display: none;
	}
}

#module-list_filter {
	border-bottom: 1px solid #ddd;
}

#module-list_filter .input-group {
	margin-bottom: 0;
	border-radius: 0;
	border: none;
	width: 100%
}

#module-list_filter .form-control {
	background-color: #fff;
	box-shadow: none;
}

#module-list_length {
	padding: 10px;
	border-bottom: 1px solid #ddd;
	background-color: #F5F5F5
}

#module-list_length .input-group {
	margin-bottom: 0
}

.form-horizontal .tab-content {
	border: 0;
	padding-top: 0;
	padding-bottom: 0
}

.rb-advance {
    border-top: 1px solid #EFEFEF;
    padding-top: 5px;
    margin-top: 30px;
    margin-bottom: 30px
}

.rb-advance .btn span:before {
    content: "숨기기"
}

.rb-advance .btn.collapsed span:before {
    content: "표시"
}

.input-group-addon:first-child,
.input-group-btn:last-child>.btn,
.input-group-addon:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.help-block {
	margin-top: 10px;
	font-size: 13px
}

.rb-guide {
    margin: 10px 0 0;
    padding: 15px;
    color: #777;
    border-top: 1px solid #eee;
    font-size: 13px
}

.form-horizontal .has-feedback.rb-outside .form-control-feedback {
        right: -925px;
}

@media (min-width: 1200px) {
    .form-horizontal .has-feedback.rb-outside .form-control-feedback {
        width: 46px;
        height: 46px;
        line-height: 46px;
        right: -25px;
    }

	#page-settings .panel-body {
		padding-left:0;
		padding-right:0;
	}
}

.rb-hidden a {
	color: #B7B6B6
}


/*rb-box */

.rb-box {
	position: relative;
	background-color: #444;
	border-radius: 6px;
	text-align: center;
	padding: 8px;
	margin: 4px;
	width: 70px;
	height : 65px;
	overflow: hidden;
	box-shadow: 0 1px 2px #eee;
}

.rb-box a {
	color: #fff
}

.rb-box a:hover {
	text-decoration: none;
	color: #428BCA
}

.rb-box a:active {
	color: #428BCA
}

.rb-box i {
	font-style: normal;
}

.rb-box .rb-icon {
	font-size: 34px;
	text-shadow: 1px 1px 1px #222;
}

.rb-box .rb-name {
    font-family: 'Open Sans', sans-serif;
	position: absolute;
	bottom: 4px;
	left: 5px;
	right: 5px;
	top: auto;
	text-align: center;
	color: #eee;
	text-shadow: 1px 1px 1px #222;
	font-size: 11px;
	text-transform: capitalize;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}


/**
 * Nestable
 */

.dd {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 13px;
    line-height: 20px;
}

.dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.dd-item,
.dd-empty,
.dd-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    line-height: 20px;
}

.dd-handle {
    display: block;
    margin:   5px 0;
    padding: 10px;
    text-decoration: none;
		background-color: rgba(255,255,255,.03);
    color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 1px 0 rgba(0,0,0,.03);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
    cursor: move;
    font-size: 13px
}
.dd-item > button {
    display: block;
    position: relative;
    cursor: pointer;
    float: left;
    width: 35px;
    height: 35px;
    margin: 5px 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    font-size: 13px;
    line-height: 1;
    text-align: center;
}

.dd-placeholder,
.dd-empty {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    background: #f2fbff;
    border: 1px dashed #b6bcbf;
    box-sizing: border-box;
    -moz-box-sizing: border-box
}

.dd-empty {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
}

.dd-dragel > .dd-item .dd-handle { margin-top: 0; }

.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}




/*김성호추가*/
.table {

}
#panel-search,
.table thead {
	border-top: #ccc solid 1px;
}
.table thead td {
	color: #666;
	font-weight: bold;
	font-size: 11px;
}
.table tbody td a {
	color: #666;
	text-decoration: none;
}
.table tbody tr:hover {
	cursor: pointer;
}
.table tbody td small {
	font-size: 11px;
}
.rb-keyword-search input {
	border-top: #dfdfdf solid 1px;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
}
.rb-name {
	color: #666;
}
.rb-name i {
	margin-left: 13px;
}
.rb-id {
	color: #666;
}
.rb-name span {
	padding-left: 34px;
}
.rb-time {
	width: 100px;
	font-size:13px;
	text-align:center;
	color:#999;
}

.rb-search-box .input-group {
	width: 190px;
}
.rb-panel-footer {
	text-align: center;
}
.rb-panel-footer .pagination {
	margin-top: 5px;
	margin-bottom: 5px;
}


@media (max-width: 1199px) {
    .form-horizontal .control-label {
        margin-bottom: 5px;
    }
}

@media (max-width: 767px) {
	#rb-body .row,
	#rb-body .xrow {
		margin-right: -16px;
		margin-left: -16px;
	}
}



#module-list {
	overflow-y: auto;
}
