.widget-post-best-card .rank-icon {
  font-weight: bold;
  text-align: center;
}

.widget-post-best-card .card.card-mask .position-relative::before {
  position: absolute;
  content: ' ';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.widget-post-best-card .card.card-mask .position-relative:hover::before {
  background-color: rgba(0, 0, 0, 0);
}
