.table tbody tr:hover {
    background: none repeat scroll 0 0 #efefef;
    cursor: pointer;
}

{
    padding: 15px 5px;
}
.rb-files {
    background: none repeat scroll 0 0 #eee;
    border-radius: 3px;
    margin-top: 20px;
    padding: 3px;
}
.rb-codeview {
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    box-shadow: 1px 1px 0 0 rgba(222, 222, 222, 0.1) inset, 1px 1px 0 0 rgba(255, 255, 255, 1);
}
.rb-codeview-header, .rb-codeview-footer {
    color: #999;
    font: 12px "Helvetica Neue",Helvetica,arial,freesans,clean,sans-serif;
    overflow: hidden;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.8);
}
.rb-codeview-header .breadcrumb {
    background-color: transparent;
    line-height: 30px;
    margin-bottom: 0;
    padding: 0;
}
.rb-codeview-header .btn {
    border-radius: 3px;
    line-height: 20px;
    margin-top: 4px;
}
.rb-codeview-header {
    background-color: #eaeaea;
    background-image: linear-gradient(#fafafa, #eaeaea);
    background-repeat: repeat-x;
    border-bottom: 1px solid #d8d8d8;
    padding: 5px 10px;
    text-shadow: 0 1px 0 #fff;
}
.rb-codeview-body {
    font-family: Consolas,"Liberation Mono",Courier,monospace;
}
.rb-codeview-body textarea {
    background: none repeat scroll 0 0 #000000;
    border: medium none;
    border-radius: 0;
    color: #ffffff;
    font-size: 12px;
    line-height: 150%;
    overflow: auto;
    padding: 15px;
}
.rb-codeview-footer {
    background-color: #e8e8e8;
    background-image: linear-gradient(#fafafa, #e8e8e8);
    background-repeat: repeat-x;
    border-top: 1px solid #ddd;
    padding: 10px;
}
.rb-codeview-footer ul {
    margin-bottom: 0;
}
.rb-codeview-footer li:first-child, .rb-codeview-footer li:last-child {
    border-left: 0 none;
    box-shadow: 0 0 0 transparent inset;
    margin-left: 0;
    padding-left: 0;
}
.rb-codeview-footer li {
    border-left: 1px solid #c1c1c1;
    box-shadow: 1px 0 0 #fff inset;
    color: #555555;
    display: inline-block;
    font-size: 12px;
    margin-left: 5px;
    padding-left: 9px;
}
.rb-submit {
    margin: 15px 0;
}
#rb-body.rb-device-connect .row .panel-default {
    margin-left: -14px;
    margin-right: -14px;
}
.rb-top-btnbox {
    position: relative;
    top: -10px;
}
.input-group {
    border-top: 1px solid #ccc;
}
.input-group .input-group-addon, .input-group .form-control {
    border: 0 none;
}
.input-group .input-group-addon {
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
}
.input-group .form-control {
    background: none repeat scroll 0 0 #fff;
}
@media (max-width: 767px) {
.rb-nav-tabs {
    border: 10px solid #dfdfdf;
}
.rb-nav-tabs li {
    width: 33.333%;
}
.rb-nav-tabs li:last-child {
    width: 100%;
}
}
