.rb-article {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  line-height: 1.6;
  word-wrap: break-word;
}

.rb-article p {
  font-family: AppleSDGothicNeo, 'Malgun Gothic', '맑은 고딕', sans-serif;
  font-size: 1.0625rem;
  letter-spacing: -1px;
  line-height: 1.6875rem;
  letter-spacing: -0.04em;
  word-break: break-all;
  word-wrap: break-word;

}

.rb-article a {
  background-color: transparent;
}

.rb-article a:active,
.rb-article a:hover {
  outline: 0;
}

.rb-article strong {
  font-weight: bold;
}

.rb-article h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.rb-article img {
  border: 0;
}

.rb-article hr {
  box-sizing: content-box;
  height: 0;
}

.rb-article pre {
  overflow: auto;
}

.rb-article code,
.rb-article kbd,
.rb-article pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.rb-article input {
  color: inherit;
  font: inherit;
  margin: 0;
}

.rb-article html input[disabled] {
  cursor: default;
}

.rb-article input {
  line-height: normal;
}

.rb-article input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.rb-article table {
  border-collapse: collapse;
  border-spacing: 0;
}

.rb-article td,
.rb-article th {
  padding: 0;
}

.rb-article * {
  box-sizing: border-box;
}

.rb-article input {
  font: 13px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.rb-article a {
  color: #4078c0;
  text-decoration: none;
}

.rb-article a:hover,
.rb-article a:active {
  text-decoration: underline;
}

.rb-article hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}

.rb-article hr:before {
  display: table;
  content: "";
}

.rb-article hr:after {
  display: table;
  clear: both;
  content: "";
}

.rb-article h1,
.rb-article h2,
.rb-article h3,
.rb-article h4,
.rb-article h5,
.rb-article h6 {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.1;
}

.rb-article h1 {
  font-size: 30px;
}

.rb-article h2 {
  font-size: 21px;
}

.rb-article h3 {
  font-size: 16px;
}

.rb-article h4 {
  font-size: 14px;
}

.rb-article h5 {
  font-size: 12px;
}

.rb-article h6 {
  font-size: 11px;
}

.rb-article blockquote {
  margin: 0;
}

.rb-article ul,
.rb-article ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.rb-article ol ol,
.rb-article ul ol {
  list-style-type: lower-roman;
}

.rb-article ul ul ol,
.rb-article ul ol ol,
.rb-article ol ul ol,
.rb-article ol ol ol {
  list-style-type: lower-alpha;
}

.rb-article dd {
  margin-left: 0;
}

.rb-article code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

.rb-article pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.rb-article .select::-ms-expand {
  opacity: 0;
}

.rb-article .octicon {
  font: normal normal normal 16px/1 octicons-link;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rb-article .octicon-link:before {
  content: '\f05c';
}

.rb-article:before {
  display: table;
  content: "";
}

.rb-article:after {
  display: table;
  clear: both;
  content: "";
}

.rb-article>*:first-child {
  margin-top: 0 !important;
}

.rb-article>*:last-child {
  margin-bottom: 0 !important;
}

.rb-article a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.rb-article .anchor {
  display: inline-block;
  padding-right: 2px;
  margin-left: -18px;
}

.rb-article .anchor:focus {
  outline: none;
}

.rb-article h1,
.rb-article h2,
.rb-article h3,
.rb-article h4,
.rb-article h5,
.rb-article h6 {
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4;
}

.rb-article h1 .octicon-link,
.rb-article h2 .octicon-link,
.rb-article h3 .octicon-link,
.rb-article h4 .octicon-link,
.rb-article h5 .octicon-link,
.rb-article h6 .octicon-link {
  color: #000;
  vertical-align: middle;
  visibility: hidden;
}

.rb-article h1:hover .anchor,
.rb-article h2:hover .anchor,
.rb-article h3:hover .anchor,
.rb-article h4:hover .anchor,
.rb-article h5:hover .anchor,
.rb-article h6:hover .anchor {
  text-decoration: none;
}

.rb-article h1:hover .anchor .octicon-link,
.rb-article h2:hover .anchor .octicon-link,
.rb-article h3:hover .anchor .octicon-link,
.rb-article h4:hover .anchor .octicon-link,
.rb-article h5:hover .anchor .octicon-link,
.rb-article h6:hover .anchor .octicon-link {
  visibility: visible;
}

.rb-article h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}

.rb-article h1 .anchor {
  line-height: 1;
}

.rb-article h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}

.rb-article h2 .anchor {
  line-height: 1;
}

.rb-article h3 {
  font-size: 1.5em;
  line-height: 1.43;
}

.rb-article h3 .anchor {
  line-height: 1.2;
}

.rb-article h4 {
  font-size: 1.25em;
}

.rb-article h4 .anchor {
  line-height: 1.2;
}

.rb-article h5 {
  font-size: 1em;
}

.rb-article h5 .anchor {
  line-height: 1.1;
}

.rb-article h6 {
  font-size: 1em;
  color: #777;
}

.rb-article h6 .anchor {
  line-height: 1.1;
}

.rb-article h1,
.rb-article h2,
.rb-article h3,
.rb-article h4,
.rb-article h5,
.rb-article h6,
.rb-article p,
.rb-article blockquote,
.rb-article ul,
.rb-article ol,
.rb-article dl,
.rb-article table,
.rb-article pre {
  margin-top: 0;
  margin-bottom: 1.6875rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.rb-article hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
}

.rb-article ul,
.rb-article ol {
  padding-left: 2em;
}

.rb-article ul ul,
.rb-article ul ol,
.rb-article ol ol,
.rb-article ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.rb-article li>p {
  margin-top: 16px;
}

.rb-article dl {
  padding: 0;
}

.rb-article dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}

.rb-article dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.rb-article blockquote {
  padding: 0 15px;
  color: #333;
  border-left: 2px solid #ddd;
}

.rb-article blockquote>:first-child {
  margin-top: 0;
}

.rb-article blockquote>:last-child {
  margin-bottom: 0;
}

.rb-article table {
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

.rb-article table th {
  font-weight: bold;
}

.rb-article table th,
.rb-article table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

.rb-article table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.rb-article img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

.rb-article video,
.rb-article audio {
  min-width: 100%;
  margin-bottom: 2rem;
  background-color: #ccc
}

.rb-article video {
  background: #ccc url("video-box.png") no-repeat center center
}

.rb-blog-view .rb-article video {
  background: #fff url("") no-repeat center center
}

.rb-article video source::before {
  content: 'videos';
  text-align: center
}

.mejs__container {
  margin-bottom: 2rem
}


.rb-article code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}

.rb-article code:before,
.rb-article code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.rb-article pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.rb-article .highlight {
  margin-bottom: 16px;
}

.rb-article .highlight pre,
.rb-article pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}

.rb-article .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.rb-article pre {
  word-wrap: normal;
}

.rb-article pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.rb-article pre code:before,
.rb-article pre code:after {
  content: normal;
}

.rb-article kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

.rb-article .pl-c {
  color: #969896;
}

.rb-article .pl-c1,
.rb-article .pl-s .pl-v {
  color: #0086b3;
}

.rb-article .pl-e,
.rb-article .pl-en {
  color: #795da3;
}

.rb-article .pl-s .pl-s1,
.rb-article .pl-smi {
  color: #333;
}

.rb-article .pl-ent {
  color: #63a35c;
}

.rb-article .pl-k {
  color: #a71d5d;
}

.rb-article .pl-pds,
.rb-article .pl-s,
.rb-article .pl-s .pl-pse .pl-s1,
.rb-article .pl-sr,
.rb-article .pl-sr .pl-cce,
.rb-article .pl-sr .pl-sra,
.rb-article .pl-sr .pl-sre {
  color: #183691;
}

.rb-article .pl-v {
  color: #ed6a43;
}

.rb-article .pl-id {
  color: #b52a1d;
}

.rb-article .pl-ii {
  background-color: #b52a1d;
  color: #f8f8f8;
}

.rb-article .pl-sr .pl-cce {
  color: #63a35c;
  font-weight: bold;
}

.rb-article .pl-ml {
  color: #693a17;
}

.rb-article .pl-mh,
.rb-article .pl-mh .pl-en,
.rb-article .pl-ms {
  color: #1d3e81;
  font-weight: bold;
}

.rb-article .pl-mq {
  color: #008080;
}

.rb-article .pl-mi {
  color: #333;
  font-style: italic;
}

.rb-article .pl-mb {
  color: #333;
  font-weight: bold;
}

.rb-article .pl-md {
  background-color: #ffecec;
  color: #bd2c00;
}

.rb-article .pl-mi1 {
  background-color: #eaffea;
  color: #55a532;
}

.rb-article .pl-mdr {
  color: #795da3;
  font-weight: bold;
}

.rb-article .pl-mo {
  color: #1d3e81;
}

.rb-article kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

.rb-article .task-list-item {
  list-style-type: none;
}

.rb-article .task-list-item+.task-list-item {
  margin-top: 3px;
}

.rb-article .task-list-item input {
  margin: 0 0.35em 0.25em -1.6em;
  vertical-align: middle;
}

.rb-article :checked+.radio-label {
  z-index: 1;
  position: relative;
  border-color: #4078c0;
}


/*추가함*/

.rb-article figure.image {
  margin: 0;
  margin-bottom: 1.4375rem;
}

.rb-article figure.image figcaption {
  padding: 0.5rem 1.25rem 0.25rem;
  text-align: left;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  letter-spacing: -0.07em;
  color: #828282;
  caption-side: bottom;
}
