html,
#rb-body,
#content-main,
#rb-admin-page-content,
.rb-post-regis {
	min-height: 100%;
	background-color: #fff;
	color: #333;
}

.rb-post-regis {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	padding-top:53px;
	background-color:#fafafa
	color: #333;
	font-size: 14px;
	line-height: 1.5;
}

.rb-post-regis .form-control {
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.rb-post-regis header {
	position: fixed;
	left: 0;
	right: 0;
	height: 64px;
	z-index: 99;
}
.document-editor__toolbar {
	position: fixed;
	top: 117px;
	right: 0;
	left: 0;
}
.document-editor {
	position: absolute;
	top: 157px;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	-webkit-transition-property: left,right,top,bottom,width,margin;
	transition-property: left,right,top,bottom,width,margin;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
}

.rb-fixed-sidebar .document-editor {
	right: 350px;
}

.rb-fixed-sidebar{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.rb-attach-sidebar {
	position: fixed;
	top: 157px;
	bottom:0;
	right: -350px;
	left:auto;
	width: 350px;
	overflow-x: hidden;
	overflow-y: scroll;
	box-shadow: -1px 0 3px rgba(0, 0, 0, 0.5);
	-webkit-transition: 250ms cubic-bezier(0.1,.57,.1,1);
	transition: 250ms cubic-bezier(0.1,.57,.1,1);
	-webkit-transform: translate(0px,0) translateZ(0px);
	-ms-transform: translate(0px,0) translateZ(0px);
	transform: translate(0px,0) translateZ(0px);
}

.rb-fixed-sidebar .rb-attach-sidebar {
	right: 0;
}

.rb-attach-sidebar .nav-tabs .nav-item {
  margin-bottom: -1px;
}
.rb-attach-sidebar .nav-tabs .nav-link {
	padding: 14px 12px;
  font-size: 14px;
  line-height: 14px;
  color: #586069;
  cursor: pointer;
	background-color: transparent;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
}
.rb-attach-sidebar .nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #ddd #ddd #fff;
}
.rb-attach-sidebar.nav-tabs .nav-link:not(.active) {
	border-right: none
}
.rb-attach-sidebar .nav-tabs a:not(.active):hover,
.rb-attach-sidebar .nav-tabs a:not(.active):focus {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom: 0
}
.rb-attach-sidebar .nav-tabs .nav-link.active:first-child {
  border-left: 1px solid #ddd;
}
.rb-attach-sidebar label {
  color: #666;
}

.opener {
	position: fixed;
	right: 40px;
	bottom: 15px;
}

.opener .btn {
	width: 50px;
	height: 50px;
	border-radius: 50%
}

.rb-fixed-sidebar .opener {
	display: none
}

.ck-toc:empty {
	padding: 2rem;
	text-align: center;
}
.ck-toc:empty::before {
  content: "문서에 추가한 제목이 여기 표시됩니다.";
  color: rgb(153, 153, 153);
}
