#configbox .row  {
	margin-right: -5px;
	margin-left: -5px;
}
#configbox .row  [class*="col-"] {
	padding-right: 5px !important;
	padding-left: 5px !important;
}
#configbox .rb-label {
	font-weight: normal;
	cursor: pointer;
	margin-right: 15px;
}

#configbox .col-sm-10 .form-control {
	width: 400px;
}
@media (max-width: 767px) {
	#configbox .row  [class*="col-"] {
		margin-bottom: 10px
	}
	#configbox .btn-primary {
		width: 100%;
	}
	#configbox .col-sm-10 .form-control {
		width: 100%;
	}
}
