#rb_admin_top {
	display: none;
}



.tab-content {
}



.rb-module-list {

	padding: 15px 0;
	margin: 0 auto

}

.rb-module-list span a {
	color: #555 ;
	text-shadow: 0 1px 2px #222;
	position: relative;
    font-family: 'Open Sans', sans-serif;
	text-align: center;
}



.rb-module-list  span a:hover,
.rb-module-list  span a:focus{
		color: #333 ;
}

.rb-module-list li {
	padding: 0 !important;
	vertical-align: top;
}

.rb-box {
	position: relative;
	background-color: #666;
	border-radius: 6px;
	text-align: center;
	padding: 8px;
	margin: 4px;
	width: 70px;
	height : 65px;
	overflow: hidden;
	box-shadow: 0 1px 2px #eee;
}

.rb-box a {
	color: #fff
}

.rb-box a:hover {
	text-decoration: none;
	color: #428BCA
}

.rb-box a:active {
	color: #428BCA
}

.rb-box i {
	font-style: normal;
}

.rb-box .rb-icon {
	font-size: 34px;
	text-shadow: 1px 1px 1px #222;
}

.rb-box .rb-name {
    font-family: 'Open Sans', sans-serif;
	position: absolute;
	bottom: 4px;
	left: 5px;
	right: 5px;
	top: auto;
	text-align: center;
	color: #eee;
	text-shadow: 1px 1px 1px #222;
	font-size: 11px;
	text-transform: capitalize;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}