#rb-body .nav-tabs {
	display: block !important;
}
#rb-body .tab-content {
	border-bottom: #ccc solid 1px !important;
	padding: 20px 10px 0 10px !important;
	background-color: #fff !important;
}
