#admin-users .panel {
	border: none;
}

#admin-users .panel-heading label {
	line-height: 35px
}

#admin-users .panel-heading,
#admin-users .panel-footer {
	background-color: transparent;
	padding: 10px 0
}

#admin-users .panel-footer .row [class*="col-"] {
    margin-top: 10px
}

@media (min-width: 768px) {
	#admin-users .panel-footer .row {
	    margin-left: -.5%;
	    margin-right: -.5%;
	}
	#admin-users .panel-footer .row [class*="col-"] {
	    min-height: 1px;
	    padding-left: .5%;
	    padding-right: .5%;
	    padding-top: 10px;
	    margin-top: 0;
	}
}

#admin-users .table th label,
#admin-users .table th input {
	margin: 0;
	padding: 0
}



.form-control-feedback {
	position: absolute;
	top: 10px;
	right: 20px
}

.table th,
.table td {
	text-align: center;
}
