#plugins .checkbox {
	margin: 0
}

#plugins td {
	vertical-align: middle;
}

.rb-files .rb-check {
	width: 20px;
	padding: 8px 5px 8px 15px;
}

.rb-files table  {
	color: #888;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border-radius: 3px;
	font-size: 13px;
	margin-bottom: 0;
}


.rb-files .table > thead > tr > th {
    border-bottom: 0;
	height: 35px;
}
.rb-files table th,
.rb-files table td  {
	text-align: left;
	padding: 8px 15px;
}

.bottom-action .btn-toolbar {
	margin: 15px 0;
}
.bottom-action .pagination {
	margin: 15px 0;
}
.rb-files .rb-version select {
	font-weight: bold;
}

@media (max-width: 767px) {

	#plugins  .rb-check,
	#plugins  .rb-size,
	#plugins  .rb-update {
		display: none;
	}
	#plugins  .rb-files {
		border: 0;
		padding: 0;
	}
	#plugins  .btn-primary {
		width: 100%;
		height : 40px;
	}
}
