#seo-setting .rb-codeview {
	margin-top: 20px;
	border: 1px solid #ddd;
	border-bottom: 1px solid #ccc;
	border-radius: 3px;
	font-family: Consolas, "Liberation Mono", Courier, monospace;
	margin-bottom: 1em;
	border-radius: 4px
}


#seo-setting textarea {
	overflow: auto;
	border: #ffffff solid 1px;
	padding: 15px;
	line-height: 150%;
	width: 100%;
	height: 600px;
	background: #000000;
	color: #ffffff;
	font-size: 13px;
	border-radius: 4px
}


#seo-setting  .rb-submit {
	margin: 15px 0
}


.rb-codeview pre {
    margin: 0em;
}
.rb-codeview .prettyprint {
    border: 0em;
}
.rb-codeview ol.linenums {
    margin: 0em;
}

.rb-codeview .rb-meta {
	font: 12px "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
	border-top: 1px solid #ddd;
	text-shadow: 1px 1px rgba(255,255,255,0.8);
	overflow: hidden;
	color: #999;
	padding: 10px;
	background-color: #e8e8e8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e8e8e8));
	background-image: -webkit-linear-gradient(#fafafa, #e8e8e8);
	background-image: linear-gradient(#fafafa, #e8e8e8);
	background-repeat: repeat-x;
}

/* Pretty printing styles. Used with prettify.js.
 *
 * This version is slight modified based on the original version.
 *
 * Name:	Stanley Ng
 * Email: 	stanleyhlng@googlegroups.com
 *
 * Reference:
 * http://code.google.com/p/google-code-prettify/source/browse/trunk/src/prettify.css
 */
.pln {
  color: #48484C; }

.str {
  color: #DD1144; }

.kwd {
  color: #1E347B; }

.com {
  color: #93A1A1; }

.typ {
  color: teal; }

.lit {
  color: #195F91; }

.pun {
  color: #93A1A1; }

.opn {
  color: #93A1A1; }

.clo {
  color: #93A1A1; }

.tag {
  color: #008; }

.atn {
  color: teal; }

.atv {
  color: #DD1144; }

.dec {
  color: teal; }

.var {
  color: teal; }

.fun {
  color: #DC322F; }

/* Put a border around prettyprinted code snippets. */
pre.prettyprint {
  background-color: #F7F7F9;
  padding: 10px;
  border: 1px solid #E1E1E8; }

pre.prettyprint.linenums {
  box-shadow: 40px 0 0 #FBFBFC inset, 41px 0 0 #ECECF0 inset; }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  color: #1E347B;
  margin: 0 0 0 40px; }

ol.linenums li {
  color: #BEBEC5;
  line-height: 18px;
  padding-left: 12px;
  text-shadow: 0 1px 0 #FFFFFF; }

li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: normal; }

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  background: transparent;
}
