#uninstall .btn.rb-danger {
	font-weight: bold;
}

#uninstall .btn.rb-danger:hover {
	color: #fff;
	background-color: #d9534f;
	border-color: #D43F3A;
}

#uninstall .page-header {
	margin-top: 30px
}

#uninstall .page-header:first-child {
	margin-top: 0
}	