.page-wrapper {
  margin-top: 20px
}
.page-nav {
  /*padding-left: 0*/
}
.page-nav .card-header {
  padding: 8px 10px;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  color: #586069;
  background-color: #f3f5f8;
  border-bottom: none
}
.page-nav .list-group-item {
  padding: 8px 10px;
  color: #24292e;
}
.page-nav .list-group-item.selected::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px;
  content: "";
  background-color: #e36209;
}
.page-nav .list-group-item-action {
  color: #0366d6;
}
.page-main {
  /*padding-right: 0*/
}


/*column*/
.column {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
}
.two-thirds {
  width: 66.666667%;
}
.edit-profile-avatar {
  width: 200px;
}

/*forms*/
.form-group .form-control.short {
  width: 250px;
}

.edit-profile-avatar dd .position-absolute {
  top: 130px;
  right: 30px;
  color: #fff;
  text-shadow:#999999 2px 2px 2px
}

.bg-warning {
  color: #856404 !important;
  background-color: #fff3cd  !important;
  border-color: #ffeeba  !important;
}


/* card group */
.col-3 .card,
.col-4 .card {
  margin-bottom: 15px
}
.grayscale {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.filter {
  filter: alpha(opacity=20);
  opacity: 0.2;
}
