@font-face {
	font-family: 'kimsq';
	src:url('../fonts/kimsq-webfont.eot');
	src:url('../fonts/kimsq-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/kimsq-webfont.ttf') format('truetype'),
		url('../fonts/kimsq-webfont.woff') format('woff'),
		url('../fonts/kimsq-webfont.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="kf-"] {
	font-family: 'kimsq';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.kf-inverse {
	color: #ffffff;
}

.kf-bi-07:before {
	content: "\e609";
}
.kf-bi-06:before {
	content: "\e605";
}
.kf-bi-05:before {
	content: "\e604";
}
.kf-bi-04:before {
	content: "\e607";
}
.kf-bi-03:before {
	content: "\e608";
}
.kf-bi-02:before {
	content: "\e60a";
}
.kf-bi-01:before {
	content: "\e60b";
}
.kf-comment:before {
	content: "\e600";
}
.kf-bbs:before {
	content: "\e601";
}
.kf-analysis:before {
	content: "\e602";
}
.kf-admin:before {
	content: "\e603";
}
.kf-editor:before {
	content: "\e606";
}
.kf-widget:before {
	content: "\e60c";
}
.kf-upload:before {
	content: "\e60d";
}
.kf-tag:before {
	content: "\e60e";
}
.kf-home:before {
	content: "\e60f";
}
.kf-search:before {
	content: "\e610";
}
.kf-popup:before {
	content: "\e611";
}
.kf-notify:before {
	content: "\e612";
}
.kf-module:before {
	content: "\e613";
}
.kf-member:before {
	content: "\e614";
}
.kf-media:before {
	content: "\e615";
}
.kf-market:before {
	content: "\e616";
}
.kf-layout:before {
	content: "\e617";
}
.kf-domain:before {
	content: "\e618";
}
.kf-device:before {
	content: "\e619";
}
.kf-dbmanager:before {
	content: "\e61a";
}
.kf-dashboard:before {
	content: "\e61b";
}
.kf-contents:before {
	content: "\e61c";
}
