#mobilebox .tab-content {
	border: none;
	padding: 20px 0;
}

#mobilebox .btn-default.active {
	background-color: #2d6ca2;
	border-color: #2b669a;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
}
@media (max-width: 480px) {
	#mobilebox .btn {
		display: block;
		width: 100%;
	}
}
@media (max-width: 767px) {

}
