#rb-body .tab-content .form-group.tab-content {
	border: 0;
	padding: 0 15px;
}

#rb-body .tab-content .form-group {
    margin-bottom: 25px;
}

.help-text {
    margin-top: 5px
}

.dataTables_wrapper a{
	color: #666
}

.form-horizontal .tab-content {
	border: 0;
	padding-top: 0;
	padding-bottom: 0
}

.rb-advance {
    border-top: 1px solid #EFEFEF;
    padding-top: 5px;
    margin-top: 30px;
    margin-bottom: 30px
}

.rb-advance .btn span:before {
    content: "숨기기"
}

.rb-advance .btn.collapsed span:before {
    content: "표시"
}


.help-block {
	margin-top: 10px;
	font-size: 13px
}

.rb-guide {
    margin: 5px 0 0 0;
    padding: 15px;
    color: #777;
    border-top: 1px solid #eee;
    font-size: 13px
}

.form-horizontal .has-feedback.rb-outside .form-control-feedback {
        left: -925px;
}

#page-settings {
	margin-top: 30px;
}

#page-settings .panel-default {
	border: none;
	box-shadow: none;
}

#page-settings .panel-default>.panel-heading {
	background-color: transparent;
	border: none;
}

#page-settings .panel-default .panel-title>a {
	color: #428bca;
}
.sidebar > .card .card-body {
  height: calc(100vh - 10rem);
  overflow: auto;
}


/*김성호추가*/
.table {

}
.table thead {
	border: 0;
}
.table thead td {
	color: #666;
	font-weight: bold;
	font-size: 11px;
}
.table tbody td a {
	color: #666;
	text-decoration: none;
}
.table tbody tr:hover {
	cursor: pointer;
}
.table tbody td small {
	color: #999;
	font-size: 11px;
}
.rb-keyword-search input {
	border-top: #dfdfdf solid 1px;
	border-bottom: #dfdfdf solid 1px;
	border-left: 0;
	border-right: 0;
}
.rb-pagename span {
	padding-left: 34px;
}
.rb-time {
	width: 100px;
	font-size:13px;
	text-align:center;
	color:#999;
}
.table .active1 td {
	background-color: #428BCA;
}
.table .active1 td a,
.table .active1 td small,
.table .active1 .rb-time {
	color: #fff;
}
.rb-search-box {
	background-color: #f5f5f5;
}
.rb-search-box .input-group {
	width: 190px;
}
.rb-panel-footer {
	text-align: center;
}
.rb-panel-footer .pagination {
	margin-top: 5px;
	margin-bottom: 5px;
}

@media (min-width: 1200px) {
    .form-horizontal .has-feedback.rb-outside .form-control-feedback {
        width: 46px;
        height: 46px;
        line-height: 46px;
        right: -25px;
        left: auto
    }

	#page-settings .panel-body {
		padding-left:0;
		padding-right:0;
	}
}

.rb-top-btnbox {
	position: relative;
	top:-10px;
}

@media (max-width: 767px) {
	#rb-body .row,
	#rb-body .xrow {
		margin-right: -16px;
		margin-left: -16px;
	}
}
