html,
body,
#content,
#content-main,
.rb-guide-wrapper {
	height: 98% !important;
	width: 100%;
}

body {
	font-family: "Open Sans", '돋움', dotum, sans-serif;
}

.rb-guide-wrapper {
	display: table;
	text-align: center;
}

.rb-guide-wrapper-inner {
	display: table-cell;
	vertical-align: middle;
}

.rb-guide-wrapper-inner .container {
	margin-top: -100px;
	line-height: 1.8
}

.rb-guide-wrapper-inner h1 .fa {
	margin-bottom: 15px
}

.rb-guide-wrapper-inner h1 .fa.text-muted {
	color: #B4B3B3
}
