#widgetbox {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#widgetbox .category {
  position: absolute;
  left:0;
  top: 0;
  bottom:0;
  width: 205px;
  height: 100%;
  margin-right: -200px;
  padding: 0;
  border-right: #dfdfdf solid 1px;
  overflow-y: auto;
  overflow-x: hidden;
}

#widgetbox .category .list-group-item:first-child {
	border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#widgetbox .category .list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#widgetbox .category .list-group-item {
  padding: .55rem .75rem;
	border-left: 0;
	border-right: 0;
  font-size: 13px
}


#widgetbox .content {
  margin-left: 205px;
  /* height: 430px; */
  overflow-y: auto;
  overflow-x: hidden;
}

#widgetbox .content .none {
  color: #c0c0c0;
  text-align: center;
  padding-top: 70px;
}

@media (max-width: 600px) {
  #widgetbox {
    overflow: auto;
  }
  #widgetbox .category {
    width: 100%;
    height: auto;
    border: 0;
  }
  #widgetbox .category span {
    width: 100%;
  }
  #widgetbox .content {
    float: left;
    width: 100%;
    height: auto;
    margin-left: 0;
    padding: 10px 10px 120px 10px;
  }
}

.nav-tabs {
  border-bottom: 1px solid #ccc;
}
.nav-tabs .nav-item:first-child .nav-link {
  border-left: 0
}
.nav-tabs .nav-link {
  text-align: center;
  padding: .5rem 2rem;
  border-right: 1px solid #ccc;
  border-bottom: 0;
  color: #999;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 0;
  border-top: 1px solid #ddd;
}
.nav-tabs .nav-link.active {
  color: #333;
  background-color: inherit;
  border: 1px solid #ccc;
  border-top: 0;
  border-bottom-color: #fff;
  border-top: 1px solid #007bff;
}

.position-relative .js-del {
  position: absolute;
  right: 10px;
  top: 5px
}

#mjointbox h5 {
  border-bottom:#dfdfdf dashed 1px;
  padding:5px 0 15px 0;
  margin:0 0 30px 0
}
#mjointbox .rb-label {
  font-weight:normal;
  cursor:pointer
}
