/* popover user profile */
#rb-member-profile .close {
	position: relative;
	top: -5px;
}
#rb-member-profile .media  {
    padding: 0;
    border: 0
}
#rb-member-profile .media-object {
    width: 100px;
    height: 100px
}
#rb-member-profile.media-body {
    position: relative;
}
#rb-member-profile .media-body .rb-log {
    position: absolute;
    bottom: 5px;
    font-size: 12px
}
#rb-member-profile .media-heading {
	padding-top: 2px;
    font-size: 14px;
    font-weight: bold;
}
#rb-member-profile {
    font-size: 12px;
}
