@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

html,
body {
  height: 100%;
}

body {
  background-color: #343a40 !important;
  font-family: 'Noto Sans KR', "돋움", dotum, '나눔고딕', 'Nanum Gothic', sans-serif, FontAwesome, kimsq !important;
  color: #ccc
}

a {
  color: #ccc
}

.rb-root {
  display: table;
  height: 100%;
  width: 100%;
  padding: 0;
}

#rb-login {
  display: table-cell;
  text-align: left;
  margin: 0 auto;
  padding: 10% 0 100px;
}

#rb-login .card {
  margin: 0 auto 15px;
  color: #ccc;
  background-color: rgb(39, 44, 50);
  border: 1px solid #222;
  border-radius: 3px;
  color: #999;
  box-shadow: 0px 2px 2px #222;
}

#rb-login .card-header h1 {
  margin-bottom: 0;
  font-size: 18px
}

#rb-login .card-header a {
  color: #ccc
}

#rb-login .card-header a:hover {
  text-decoration: none
}

#rb-login .card .form-group label {
  font-weight: normal;
  display: block;
  margin-bottom: 7px
}

#rb-login .form-login .label-link {
  float: right;
  font-size: 12px;
  line-height: 24px;
}

#rb-login .panel .form-control.input-lg {
  border-radius: 2px;
}

#rb-login .card-footer ul {
  margin-bottom: 0
}

#rb-login .card-foote a {
  font-size: 90%;
}

.form-control,
.form-control[readonly] {
  background-color: rgb(31, 34, 39);
  color: rgb(171, 175, 181);
  border-color: rgb(27, 30, 36);
  border-radius: 0
}

.btn {
  border-radius: 0
}

/*반응형 설정*/

@media (min-width: 481px) {
  #rb-login .card {
    width: 350px;
  }
}

@media (max-width: 480px) {
  body {
    /*background-color: #fff !important*/
  }

  #rb-login {
    padding: 0;
  }

  #rb-login .card {
    box-shadow: none;
    border: none;
    border-radius: none;
    background-color: inherit;
  }

  #rb-login .card-footer {
    /*background-color: transparent;*/
  }

  #rb-login h1 {
    font-size: 20px
  }

  #rb-login .btn.btn-primary {
    width: 100%;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
  }
}


#modal-pwReset {
  font-size: 14px
}

#modal-pwReset .modal-header,
#modal-pwReset .card-header {
  background-color: #0069d9;
  color: #fff
}

#modal-pwReset .modal-content {
  border-radius: .45rem;
}

#modal-pwReset .nav-tabs .nav-link:focus,
#modal-pwReset .nav-tabs .nav-link:hover {
  border-color: #0069d9 #0069d9 #fff;
}

#modal-pwReset .form-control,
#modal-pwReset .form-control[readonly] {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0;
  color: #495057;
}

.btn-light {
  color: #24292e;
  user-select: none;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid rgba(27, 31, 35, 0.2);
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
}

.btn-light:hover,
.btn-light.hover {
  background-color: #e6ebf1;
  background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
  background-position: -.5em;
  border-color: rgba(27, 31, 35, 0.35);
}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle {
  background-color: #e9ecef;
  background-image: none;
  border-color: rgba(27, 31, 35, 0.35);
  box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15);
}

.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus,
.show>.btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2em rgba(3, 102, 214, 0.3);
}
