.sidebar .list-group-item.active {
  border: 1px solid rgb(0, 123, 255) !important;
}
.media.p-2 {
  padding: .3rem!important;
}
.media .rounded {
  border-radius: 0.5rem !important;
}
.media .fa-3x {
  font-size: 2.7em;
}

.media .fa-stack-2x {
  color: #1f2227;
  border-color: #1b1e24;
}

.grayscale {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.fa-stack.active.google .fa-square {
  color: #eb4536
}
.fa-stack.active.facebook .fa-square {
  color: #3b5998
}
.fa-stack.active.twitter .fa-square {
  color: #55adee
}
.fa-stack.active.instagram .fa-square {
  color: #aa41b5
}
