.page-wrapper {
  margin-top: 20px
}
.page-nav {
  padding-right: 16px !important;
}
.page-nav .btn::after {
  content: ''
}
.page-nav .btn.active::after {
  content: ' 취소'
}
.vcard-fullname {
  margin-bottom: 2px;
  font-size: 26px;
  line-height: 30px;
}
.vcard-username {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666;
}
.vcard-detail {
  padding-left: 22px;
  font-size: 14px
}
.vcard-detail .fa {
    margin-left: -22px;
}
.avatar-group-item {
  display: inline-block;
  margin-bottom: 3px;
}
.avatar {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-radius: 3px;
}
.page-main {
  padding-left: 8px !important;
}
.user-profile-nav {
  background-color: #fff;
  border-bottom: solid 1px #d1d5da;
}
.user-profile-nav .underline-nav {
  height: 62px;
  display: table;
}
.user-profile-nav .underline-nav .nav-link {
  display: table-cell;
  padding-right: 15px;
  padding-left: 15px;
  color: #586069;
  vertical-align: middle;
  border-bottom: 2px solid transparent;
}
.user-profile-nav .underline-nav .nav-link.active {
  color: #24292e;
  border-bottom-color: #e36209;
}
.page-main .Subhead {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding-bottom: 8px;
  margin-bottom: 20px;
  border-bottom: 1px #e1e4e8 solid;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
.page-main .Subhead-heading {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: normal;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

/*org*/
.pagehead {
  padding-top: 20px;
  padding-bottom: 0;
  margin-bottom: 20px;
  color: #666;
  background-color: #fafbfc;
  border-bottom: 1px solid #eee;
}
.pagehead .avatar {
  width: 100px;
}
.org-name {
  font-weight: normal;
  color: #333;
}
.pagehead .nav-tabs {
  position: relative;
  top: 1px;
  margin-top: -5px;
}
.pagehead .nav-tabs .nav-link:focus,
.pagehead .nav-tabs .nav-link:hover {
  border-color: transparent;
}
.pagehead .nav-tabs .nav-link {
  padding: 7px 15px 8px;
  font-size: 16px;
  color: #586069;
  white-space: nowrap;
  border: solid transparent;
  border-width: 3px 1px 1px;
  border-radius: 3px 3px 0 0;
}
.pagehead .nav-tabs .nav-link.active {
  color: #24292e;
  background-color: #fff;
  border-color: #e36209 #e1e4e8 transparent;
}

.pagehead .nav-tabs .nav-link .badge-light {
  display: inline-block;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  color: #444d56;
  background-color: rgba(27,31,35,0.08);
  border-radius: 20px;
}

/* list-group */
.list-group-flush .list-group-item {
  border-style: dotted;
}

[data-role="follow"].active {
  background-color: #e0e0e0 !important;
  color: #696969 !important;
  border: none !important
}
[data-role="follow"].active::after {
  content: '취소'
}
